body {
  font-family: 'Comfortaa', cursive;
  background-image: url("image/background.jpg");
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  padding-bottom: 3em;
  max-width: 100vw;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

#variante{
  font-size: 1em;
  background-image: url("image/back.jpg");
}

a:link, a:visited, a:hover{
  color: currentcolor;
  text-decoration: none;
}

.title {
  text-align: left;
  font-size: 2em;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.3em;
  flex-direction: row;
  max-width: 100%;
}

#normal header{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

#variante header{
  background-image: url("image/background.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

#navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex: 1;
}

#navigation li {
  padding: 0.2em;
  display: flex;
  align-self: center;
}

h3{
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
}

#Accueil{
  text-align: center;
  color: white;
}

.Barrederecherche {
  height:auto;

}

.recherche {
  padding: 0.3125em 0.625em 0.3125em 0.625em;
  font-size: 1em;
  margin: 1em;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  transition: 0.5s all ease;
}
.recherche:hover{
  transform: scale(1.2);
}

.bouton{
  display: inline-block;
  background-color: #e8b960 ;
  border:0.1em solid #f4d442;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  transition: 0.5s all ease;
  margin: 0.2em 0.7em;
  padding: 0.2em;
}

.bouton:hover{
  background-color: #e8a523;
  color: white;
  border-color: white;
  transform: scale(1.2);
}

h2{
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}

#Accueil img{
  max-width: 100%;
  width: 15em;
  align-self: center;
}

#Meilleure_vente{
  display: flex;
  justify-content: center;
}

#qui{
  padding: 0 1em;
}

#Marque{
  max-width: 56.25em;
  margin: auto;
  text-align: justify;
}

#carte {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#carte h2{
  margin-left: 0.4em;
}
#carte li {
  font-size: 1em;
  display: flex;
}

#frame{
  width:50em;
  height:40.5em;
  max-width: 100%;
  border:1px;
}

.stock{
  color: green;
  font-variant: small-caps;
  font-weight: bold;
}

.indisponible{
  color: red;
  font-variant: small-caps;
  font-weight: bold;
}

.article{
  display: flex;
  flex-wrap: nowrap;
}

.Liste_article{
  display: flex;
  flex-wrap:  wrap;
  width: 50%;
}

#objet{
  display: flex;
  flex-wrap: nowrap;
}

#objet img{
  height: auto;
  width: auto;
}

img{
  max-width: 100%;
  padding: 2em;
}

.prix{
  color: red;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5em;
}

.texte{
  padding: 2em;
}

#Liste{
  display: flex;
  flex-wrap: wrap;
}

#Liste img{
  width: auto;
  height: 15em;
}

#Panier{
  max-width: 100em;
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2em;
}

#Panier img{
  max-width: 100%;
  width: 50em;
  height: auto;
  display: block;
  object-fit: contain;
}

.Formulaire{
  display: flex;
  flex-direction: column;

}

h4{
  margin:1em;
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
}

@media (max-width:1024px) {
  #Panier{
    flex-direction: column;
    justify-content: center;
  }

  #Liste{
    flex-direction: column;
  }

  .Liste_article{
    width: 100%;
    align-items: center;
  }

  #objet{
    flex-direction: column;
    align-items: center;
    }
  #carte{
    flex-direction: column;
  }
  .article{
    width: 100%;
    flex-direction: column;
  }

}